*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.my-div{
    border: 1px solid red;
    /* display: flex;
    flex-wrap: wrap; */
}
@media(max-width:599px){
    .my-h1{
        background-color: blue;
        font-size: 20px;
        border: 1px solid orangered;
    }
}
@media(min-width:1201px){
  .my-img{
    width: 100%;
  }  
}
@media(max-width:1200px){
    .my-img{
        width: 50%;
    }
}
@media(min-width:900px){
    .mother-div{
    display:flex;
    gap: 20px;
    }
}
@media(max-width:899px){
    .mother-div div{
        border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 20px;
    }
}
@media(max-width:499px){
    .my-para{
        border: 1px solid blue;
        text-align: center;
        font-weight: bold;
    }
}
@media(min-width:501px){
    .my-para{
        border: 1px solid blue;
        text-align:left;
        font-weight: bold;
    }
}
@media(max-width:767px){
    section{
        color: white;
        background-color: purple;
        border: 2px solid black;
    }
}
@media(max-width:599px){
  button{
    display: none;
  }
}